body{
    color:Red; 
    background-color:black; 
    font-family:Arial, sans-serif;
}
#top {
    font-size: 50px;
    font-weight: bold;
}

h1 {
    color: DarkRed;
    text-align: center;
}
h2 {
    color: DarkRed;
    text-decoration: underline;
}







.common {
 background-color: black;
 border: 2px solid black;
 position: absolute;
    
}

.header{
    top: 5px;
    left: 15px;
    right: 25px;
    height: fit-content;
}
.common.left {
    top: 115px;
    left: 15px;
    width: 100px;
    bottom: 40px;
    height: fit-content;
    font-size: small;
}

.right{
    top:115px;
    right:25px;
    width:100px;
    bottom:40px;
    font-size: small;
}

.main{
    top:115px;
    left: 130px;
    right: 140px;
    bottom: 40px;
    height: fit-content;

}


.redtext{
    color: red;

}